
html, body, #root {
  height: 100%;
}


.normal___1LGbL {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title___jOezs {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.list___2nMZI {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list___2nMZI code {
  background: #f7f7f7;
}
